# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Terraform files (also in terraform/.gitignore)
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
